
@{
    ViewData["Title"] = "TakeActionInView";
    Layout = null;
    var ListData = ViewBag.Result;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Print
            </h5>
            <div class="reportlegend d-flex ml-auto ">
                <ul class="d-inline-block d-none">
                    <li>
                        <a href="javascript:PrintPage();void(0)" title="Print" id="printIcon" data-toggle="tooltip" data-placement="top" class="btn btn-sm btn-default ml-4">
                            <i class="icon-printer1"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body">

            <div class="table-responsive mt-3 milestone-table" id="printtable">

                @if (ListData != null)
                {
                    @if (ListData.Tables.Count > 0)
                    {
                        //for (int i = 0; i < ListData.Tables.Count; i++)
                        //{
                        <div class="form-group row">
                            @for (int M = 0; M < ListData.Tables[0].Columns.Count; M++)
                            {

                                @if (ListData.Tables[0].Columns[M].ToString().Split("|")[1] == "matrixdynamic")
                                {
                                    <div class="col-md-12 col-sm-12">
                                        <h5>@ListData.Tables["Tbl_" + ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Rows[0]["PVCH_LABEL_NAME"].Split("|")[0]</h5>
                                        <table data-toggle="table" class="table table-padding" id="ViewMilestone" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>Sl#</th>
                                                    @foreach (var Item in ListData.Tables["Tbl_" + ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Columns)
                                                    {
                                                        if (Item.ColumnName != "PVCH_LABEL_NAME")
                                                        {
                                                            <th>@Item.ColumnName.Split("|")[0]</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{var count = 1; }
                                                @foreach (var Item in ListData.Tables["Tbl_" + ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Rows)
                                                {
                                                    <tr>

                                                        <td>@count</td>
                                                        @for (int j = 1; j < Item.ItemArray.Length; j++)
                                                        {
                                                            <td>
                                                                @if (ListData.Tables["Tbl_" + ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Columns[j].ToString().Split("|")[1] == "file")
                                                                {
                                                                    if (Item.ItemArray[j].Split(".")[1].ToUpper() == "PNG" || Item.ItemArray[j].Split(".")[1].ToUpper() == "JPG" || Item.ItemArray[j].Split(".")[1].ToUpper() == "JPEG")
                                                                    {
                                                                        <a href="/Image_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Rows[0]["PVCH_LABEL_NAME"].Split("|")[1]_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Columns[j].ToString().Split("|")[0]_@ViewBag.Formid/@Item.ItemArray[j]" target="_blank">
                                                                            <img src="/Image_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Rows[0]["PVCH_LABEL_NAME"].Split("|")[1]_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Columns[j].ToString().Split("|")[0]_@ViewBag.Formid/@Item.ItemArray[j]" style="height:50px;width:50px;" />
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/Image_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Rows[0]["PVCH_LABEL_NAME"].Split("|")[1]_@ListData.Tables["Tbl_"+ ListData.Tables[0].Columns[M].ToString().Split("|")[2]].Columns[j].ToString().Split("|")[0]_@ViewBag.Formid/@Item.ItemArray[j]" download><i class="fa fa-download fa-3x" aria-hidden="true"></i></a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @Item.ItemArray[j]
                                                                }
                                                            </td>
                                                        }
                                                        @{ count = count + 1;}
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <label class="col-3 col-md-3 col-xl-3 control-label" for="demo-email-input">
                                        <h5>
                                            @ListData.Tables[0].Columns[M].ToString().Split("|")[0]
                                        </h5>
                                    </label>

                                    <div class="col-3 col-md-3 col-xl-3">
                                        <span class="colon">:</span>
                                        <h6>
                                            @ListData.Tables[0].Rows[0][@ListData.Tables[0].Columns[M]]
                                        </h6>
                                    </div>

                                }

                            }
                        </div>
                        //}
                    }
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
            </div>

        </div>

    </div>

</div>
<script>
    function PrintPage() {
        var windowName = "PrintPage";
        var wOption = "width=900,height=600,menubar=yes,scrollbars=yes,location=no,left=100,top=100";
        var cloneTable = $("#printtable").clone();
        var head = $('#printtable thead tr');

        cloneTable.find('input[type=text],select,textarea').each(function () {
            var elementType = $(this).prop('tagName');
            if (elementType == 'SELECT') {

                if ($(this).val() > 0)
                    var textVal = $(this).find("option:selected").text();
                else
                    textVal = '';
            } else
                var textVal = $(this).val();
            $(this).replaceWith('<label>' + textVal + '</label>');
        });
        cloneTable.find('a').each(function () {
            var anchorVal = $(this).html();
            $(this).replaceWith('<label>' + anchorVal + '</label>');
        });

        var pageTitle = $("#title").text();
        var wWinPrint = window.open("", windowName, wOption);
        wWinPrint.document.write("<html><head><link href='../../css/bootstrap.min.css' rel='stylesheet'><link href='../../css/print.css' rel='stylesheet'><title>Participate</title></head><body>");
        wWinPrint.document.write("<div id='header' class='mb-2 d-flex align-items-center justify-content-between'><h4 class='d-flex align-items-center'><img src='/images/logo-black.png' alt='WFE' width='70' class='mr-2'> <p class='mb-0'><span>WFE</span> </p> </h4><div class='pull-left text_logo'><h4 class='logo'><a href='javascript:void(0)' class='btn btn-success btn-sm pull-right' style='float:right;' title='Print' onclick='$(this).hide();window.print();$(this).show();'>Print</a></h4></div></div>")
        wWinPrint.document.write("<div id='printHeader'>" + pageTitle + "</div>");
        wWinPrint.document.write("<div id='printContent'>" + cloneTable.html() + "</div>");
        wWinPrint.document.write("<div id='printFooter' class='text-center'>&copy; 2022 -WFE</div>");
        wWinPrint.document.write("</body></html>");
        wWinPrint.document.close();
        wWinPrint.focus();
        return wWinPrint;
        $('#title').append(title);
        printHeader = title;
    }
</script>
